* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #272727;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

#webgl {
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 1;
}

section:first-of-type {
  padding-top: 60px;
}

section.utils {
  max-width: 1400px;
  margin: auto;
  padding-bottom: 60px;
}

section .board {
  background-color: #1f1f1f;
  padding: 60px;
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

p {
  font-weight: 300;
  font-size: 1em;
}

ul.tabs {
  display: flex;
  margin: 0px;
  flex-wrap: wrap;
  padding: 0;
}

ul.tabs li {
  position: relative;
  margin: 10px 20px;
  display: inline-block;
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

ul.tabs li:first-child {
  margin: 10px 0px;
  margin-right: 20px;
}

.active-dark ul.tabs li.tabs__tab--selected {
  color: #5EFFFF;
}

ul.tabs li.tabs__tab--selected:before {
  width: 100%;
  background: #5EFFFF;
}

ul.tabs li:before {
  position: absolute;
  content: "";
  width: 30px;
  background: rgba(0, 0, 0, .2);
  -webkit-transition: all .7s cubic-bezier(.19, 1, .22, 1) 0s;
  transition: all .7s cubic-bezier(.19, 1, .22, 1) 0s;
  height: 2px;
  bottom: 0;
}

.tabs-detail p {
  color: #717173;
}

.hoverable-badge {
  font-size: .70em;
  transition: all 0.2s ease-in-out;
}

.hoverable-badge:hover {
  background-color: #5EFFFF !important;
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  section.utils {
    padding: 50px;
  }
  section .board {
    padding: 50px;
  }
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 992px) {
  section.utils {
    padding: 50px;
  }
  section .board {
    padding: 50px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
  section.utils {
    padding: 15px;
  }
  section .board {
    padding: 15px;
  }
  ul.tabs li:first-child {
    margin: 10px 0px;
    margin-right: 15px;
  }
  ul.tabs li {
    margin: 10px 0px;
    margin-right: 15px;
  }
}

#social img{
  width: 50px;
}

.canvas {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
}

.space{
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%,-70%);
}